<div>
  <h1 style="text-align:center;color:brown; margin-top : 40px; background-color: lavender ;">
    <b> {{ title }} </b></h1>
</div>

<div style="background-color:brown">
  <ul>
    <li>
      <a routerLink="recipelist">Recipe List</a>
    </li>
    <li>
      <a href='#'> Recipe Description </a>
    </li>

    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Settings <span class="caret"></span> </a>
      <div class="dropdown-content">
        <a href="#">Change Password</a>
        <a href="#">Log Out</a>
      </div>
    </li>
  </ul>
  <div>

    <app-recipe-detail></app-recipe-detail>
  </div>
</div>
<router-outlet></router-outlet>