.row-container {
    position: absolute;
    left: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: brown;
}

li a {
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
     cursor:pointer;
     height: 20px;
     width: 90px;
     background-color: lightgray;
}

/* Change the link color on hover */
li a:hover {
    background-color: black;
    color: white;
}

app-recipe-item {
    display: block;
    cursor:pointer;
}